{
  "Logging": {
    "LogLevel": {
      "Default": "Information",
      "Microsoft.AspNetCore": "Warning"
    }
  },
  "Database": {
    "Provider": "Postgres"
  },
  "ConnectionStrings": {
    "DefaultConnection": "Host=localhost;Port=5432;Database=filarmonica_dev;Username=postgres;Password=postgres"
  },
  "Jwt": {
    "Secret": "dev-only-secret-troque-em-producao-1234567890",
    "Issuer": "FilarmonicaApi",
    "Audience": "FilarmonicaClient",
    "AccessTokenMinutes": 30,
    "RefreshTokenDays": 7
  },
  "FileStorage": {
    "BasePath": "uploads",
    "PublicBaseUrl": "http://localhost:5080/media"
  },
  "Cors": {
    "AllowedOrigins": ["http://localhost:5173"]
  }
}
